<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
  <%-typeof title!='undefined'? title:'Cooking Blog-Made with Node.js'%>
  </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap" rel="stylesheet">
<link rel="stylesheet"href="/css/style.css">
</head>
<body>
  

  <div class="container-xxl px-md-5 bg-white shadow-lg">
   
  <header class="d-flex wrap align-items-center justify-content-center justify-content-md-between py3 mb-4 border-bottom">

    <ul class="nav col-12-md-auto mb-2 jsutify-content-center mb-md-0">
      <li>
        <a href="/"class="nav-link px2 link-secondary">Home</a>
      </li>
      <li>
        <a href="/about"class="nav-link px2 link-secondary">About</a>
      </li>
      <li>
        <a href="/submit-recipe"class="nav-link px2 link-secondary">Submit</a>
      </li>
      <li>
        <a href="/contact"class="nav-link px2 link-secondary">Contact</a>
      </li>

      <div class="col-md-3 text-end">
        <form method="POST"  action="/search">
          <input type="search" name=""sesarchTern class="form-control"
          placeholder="
          Search.." aria-label="Search">
        </form>
      </div>


    </ul>

  </header>
  

   <main>
     <%- body -%>
   </main>

   <footer>
    <p class="py-5">
      Build By Avishi
    </p>
   </footer>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>
