<div class="row flex-lg-row-reverse align-item-center g-5 py-4 mb-4">
  <div class="col-12 col-lg-6">
    <img src="img/pablo-merchan-montes-Orz90t6o0e4-unsplash.jpg" alt="Cooking with Node.js" width="607" height="510" class="d-bloxk mx-lg auto img-fluid" loading="lazy">
  </div>

  <div class="col-12 col-lg-6">
    <h1 class="display-5 fw-bold mb-3">
      Huge selection of delicous recipe ideas
    </h1>
    <p class="lead">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam architecto, ab aut alias quisquam ad sequi laboriosam eius eum? Ad, minima explicabo iste dolores itaque nostrum sequi illo ex porro.
    </p>

    <div class="d-grid grap-2 d-nd-flex justify-content-md-start">
      <a href="/explore-latest" class ="btn btn-primary btn-dark btn-lg px-4 me-md-2">Expore Latest</a>
      <br>
      <a href="/random-recipe" class ="btn btn-outline-secondary btn-dark btn-lg px-4 me-md-2">Show Random</a>
    </div>
  </div>

</div>

<!--Categories start-->
<div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4" >
  <a href="#" class="col text-center category__link">
  <div class="category__img shadow">
    <img src="img/annie-spratt-f4gQ-dJ0yo8-unsplash.jpg" alt="American Load" loading="lazy">
    </div>
    <div class="pt-1">American Food</div>
  </a>
  <a href="#" class="col text-center category__link">
    <div class="category__img shadow">
      <img src="img/annie-spratt-f4gQ-dJ0yo8-unsplash.jpg" alt="American Load" loading="lazy">
      </div>
      <div class="pt-1">American Food</div>

    </a>
    <a href="#" class="col text-center category__link">
      <div class="category__img shadow">
        <img src="img/annie-spratt-f4gQ-dJ0yo8-unsplash.jpg" alt="American Load" loading="lazy">
        </div>
        <div class="pt-1">American Food</div>
  
      </a>
      <a href="#" class="col text-center category__link">
        <div class="category__img shadow">
          <img src="img/annie-spratt-f4gQ-dJ0yo8-unsplash.jpg" alt="American Load" loading="lazy">
          </div>
          <div class="pt-1">American Food</div>
    
        </a>
        <a href="#" class="col text-center category__link">
          <div class="category__img shadow">
            <img src="img/annie-spratt-f4gQ-dJ0yo8-unsplash.jpg" alt="American Load" loading="lazy">
            </div>
            <p>American Food</p>
          </div>
          </a>
</div>

<!--latest section-->
<section class="pb-4 pt-4">
  <div class="d-dlex mb-2 align-item-center">
    <h2>
      Latest Recipe
    </h2>
    <a href="/explore-latest" class="ms-auto">View More</a>

    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
      <a href="/recipe/#" class="col text-center category__link">
        <div class="category__img shadow category__img--large shadow">
          <img src="img/annie-spratt-f4gQ-dJ0yo8-unsplash.jpg" alt="American Load" loading="lazy">
          </div>
          <div class="pt-1">Chocolate Banoffee</div>

      </a>
   

    
      <a href="/recipe/#" class="col text-center category__link">
        <div class="category__img shadow category__img--large shadow">
          <img src="img/annie-spratt-f4gQ-dJ0yo8-unsplash.jpg" alt="American Load" loading="lazy">
          </div>
          <div class="pt-1">Chocolate Banoffee</div>

      </a>
  

 
      <a href="/recipe/#" class="col text-center category__link">
        <div class="category__img shadow category__img--large shadow">
          <img src="img/annie-spratt-f4gQ-dJ0yo8-unsplash.jpg" alt="American Load" loading="lazy">
          </div>
          <div class="pt-1">Chocolate Banoffee</div>

      </a>
  

  
      <a href="/recipe/#" class="col text-center category__link">
        <div class="category__img shadow category__img--large shadow">
          <img src="img/annie-spratt-f4gQ-dJ0yo8-unsplash.jpg" alt="American Load" loading="lazy">
          </div>
          <div class="pt-1">Chocolate Banoffee</div>

      </a>
   </div>
  

  
</section>

<!--submit section-->
<section class="px-4 py-5 my-5 text-center">
  <img src="img/jarett-lopez-6WHl6T-fxU0-unsplash.jpg"  class="d-block mx-auto mb-4 img-fluid" alt="Published image" width="566" height="208" loading="lazy">
 <h1 class="display-5 fw-bold">
  Publish Image
 </h1>
 <div class="col-lg-6 mx-auto">
  <p class="lead mb-4">
    Publish your recipe in the front of the peopkle for free .You get to build to your blog.
  </p>
 <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
  <a href="/submit-recipe" class="btn btn-primary btn-dark btn-lg">Submit Recipe</a>
 </div>
 </div>
</section>
